In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## Object Creation
See the Data Structure Intro section

Creating a Seriesby passing a list of values, letting pandas create a default integer index:

In [3]:
Data=pd.Series([1,2,3,np.nan,8,9])
Data

0    1.0
1    2.0
2    3.0
3    NaN
4    8.0
5    9.0
dtype: float64

Creating a DataFrame by passing a numpy array, with a datetime index and labeled columns:

In [19]:
dates = pd.date_range('20130101', periods=9)
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06', '2013-01-07', '2013-01-08',
               '2013-01-09'],
              dtype='datetime64[ns]', freq='D')

In [22]:
pd.DataFrame(np.random.randn(9,6), index=dates, columns=list('ABCDEF'))

                   A         B         C         D         E         F
2013-01-01 -0.850439  0.539133 -0.938575 -0.126915 -0.775722  0.497870
2013-01-02 -0.611252 -0.585770  1.703598 -0.440040 -0.313330  0.799512
2013-01-03  0.049471  1.022674 -0.354651 -0.554498 -0.157343  0.008649
2013-01-04 -1.387169  0.902272 -0.460233  1.287058 -1.510111  1.896163
2013-01-05  0.640403  0.751601  0.094551  1.463067 -0.044717 -0.383676
2013-01-06 -0.772889 -0.186109  0.654406  0.657147 -0.143551 -0.808374
2013-01-07 -0.352034  0.720855 -0.181153  0.893369  0.036930 -0.479432
2013-01-08 -0.337225 -0.361423  0.387386  0.835356  0.898553 -0.377051
2013-01-09 -1.042196 -1.407030 -2.133524  0.379913  0.071988 -0.162769

Creating a DataFrameby passing a dict of objects that can be converted to seriesÂ­like.

In [32]:
data=pd.DataFrame({'A': 1,
                   'B': pd.Timestamp('20191003'),
                   'C': pd.Series(1,index=list(range(4)),dtype='float'),
                   'D': np.array([3] * 4,dtype='int32'),
                   'E': pd.Categorical(['Test','Train','Test','Train']),
                   'F': 'foo'})
data

   A          B    C  D      E    F
0  1 2019-10-03  1.0  3   Test  foo
1  1 2019-10-03  1.0  3  Train  foo
2  1 2019-10-03  1.0  3   Test  foo
3  1 2019-10-03  1.0  3  Train  foo

In [ ]:
data